livekit-agents>=0.12.1
livekit-plugins-openai>=0.10.9
livekit-plugins-deepgram>=0.6.13
livekit-plugins-silero>=0.7.4
livekit-plugins-turn-detector>=1.2.5
livekit-plugins-tavus>=1.2.5
python-dotenv~=1.0